@import "views/App";

@import "components/add-todo";
@import "components/todos";
@import "components/todo-item";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  background: #2c3e50;
}

* {
  box-sizing: border-box;
}

.title-wrapper {
  height: 170px;
  line-height: 170px;

  h1 {
    font-size: 70px;
    color: #FFF;
    margin: 0 ;
  }
}

