.todos-wrapper {
  padding: 0 40px 80px;

  .md-layout-item {
    padding-bottom: 40px;
  }

  .md-card-actions {
    border-top: 1px solid #CECECE;
  }

  .md-card-header {
    // background: rgba(0, 0, 0, .1);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.filter-todos {
  position: relative;
  z-index: 2;

  .md-bottom-bar > .md-ripple {
    justify-content: center;
  }

  .badge {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 45px;
    background: #ff5252;
    border-radius: 100%;
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.05em;
    font-family: 'Roboto Mono', monospace;
  }
}
