<template>
  <div id="app">
    <div class="title-wrapper">
      <h1>Todos</h1>
    </div>

    <AddTodo v-on:add-todo="addTodo" />
    <Todos v-bind:todos="todos" v-on:delete-todo="deleteTodo" />
  </div>
</template>

<script>
  import axios from 'axios';
  import Todos from '../components/Todos';
  import AddTodo from '../components/AddTodo';
  import { BASE_URL } from '../config.js';

  export default {
    name: 'app',
    components: {
      Todos,
      AddTodo
    },
    data() {
      return {
        todos: []
      }
    },
    methods: {
      deleteTodo(id) {
        axios.delete(BASE_URL + `/todos/${id}`)
          .then(() => this.todos = this.todos.filter(todo => todo.id !== id))
          // eslint-disable-next-line
          .catch(err => console.log(err));
      },
      addTodo(newTodo) {
        axios.post(BASE_URL + '/todos', newTodo)
          .then(() => this.todos.push(newTodo))
          // eslint-disable-next-line
          .catch(err => console.log(err));
      }
    },
    created() {
      axios.get(BASE_URL + '/todos')
        .then(response => this.todos = response.data)
        // eslint-disable-next-line
        .catch(err => console.log(err));
    }
  }
</script>



<style lang="scss">
  @import "../assets/scss/main.scss"
</style>
