<template>
  <div class="new-todo">

    <md-dialog-prompt
      :md-active.sync="active"
      v-model="description"
      md-title="Nova anotação"
      md-input-maxlength="30"
      md-input-placeholder="Digite aqui..."
      md-confirm-text="Adicionar"
      md-cancel-text="Cancelar"
      @md-cancel="onCancel"
      @md-confirm="onConfirm"
    />

    <md-button @click="active = true" class="md-fab md-fixed">
      <md-icon>add</md-icon>
    </md-button>
  </div>
</template>

<script>
  export default {
    name: "AddTodo",
    data() {
      return {
        description: "",
        active: false,
        value: null
      }
    },
    methods: {
      onConfirm () {
        const newTodo = {
          description: this.description,
          completed: false
        }

        this.$emit('add-todo', newTodo);

        this.description = null;
      },
      onCancel () {
        this.description = null;
      }
    }
  }
</script>