<template>
  <div>
    <div class="todos-wrapper">
      <!-- <div class="grid"> -->

      <!-- </div> -->

<md-list>
  <TodoItem v-bind:todo="todo" v-on:delete-todo="$emit('delete-todo', todo.id)" v-bind:key="todo.id" v-for="todo in filteredTodos" />
</md-list>



    </div>

    <div class="filter-todos">
      <md-bottom-bar class="md-accent">
        <md-bottom-bar-item id="bottom-bar-item-home" md-label="Todos" md-icon="home" @click="activeFilter = 'all'">
            <md-icon class="md-bottom-bar-icon">list</md-icon>
            <span class="md-bottom-bar-label">Todos</span>
        </md-bottom-bar-item>

        <md-bottom-bar-item id="bottom-bar-item-home" md-label="Todos" md-icon="home" @click="activeFilter = 'completed'">
            <md-icon class="md-bottom-bar-icon">playlist_add_check</md-icon>
            <span class="md-bottom-bar-label">Completos</span>
            <i class="badge">{{ completedCount }}</i>
        </md-bottom-bar-item>

        <md-bottom-bar-item id="bottom-bar-item-home" md-label="Todos" md-icon="home" @click="activeFilter = 'uncompleted'">
            <md-icon class="md-bottom-bar-icon">playlist_play</md-icon>
            <span class="md-bottom-bar-label">À Fazer</span>
            <i class="badge">{{ uncompletedCount }}</i>
        </md-bottom-bar-item>
      </md-bottom-bar>
    </div>

  </div>
</template>

<script>
  import TodoItem from './TodoItem.vue';

  export default {
    name: "Todos",
    components: {
      TodoItem
    },
    props: ["todos"],
    data() {
      return {
        activeFilter: 'all'
      }
    },
    computed: {
      filteredTodos() {
        if (this.activeFilter === 'all') {
          return this.todos;
        }

        if (this.activeFilter === 'completed') {
          return this.todos.filter(todo => todo.completed);
        }

        if (this.activeFilter === 'uncompleted') {
          return this.todos.filter(todo => !todo.completed);
        }

        return this.todos;
      },

      completedCount() {
        return this.todos.filter(todo => todo.completed).length;
      },

      uncompletedCount() {
        return this.todos.filter(todo => !todo.completed).length;
      }
    }
  }
</script>

<style scoped>

</style>