<template>
  <div class="todo-item">
    <md-list-item v-bind:class="{'completed': todo.completed}">
      <md-switch v-model="todo.completed" @click="markComplete"></md-switch>
      <span class="md-list-item-text">{{ todo.description }}</span>
      <md-button @click="$emit('delete-todo', todo.id)">Excluir</md-button>
    </md-list-item>

    <md-divider></md-divider>
  </div>
</template>

<script>
  import axios from 'axios';
  import { BASE_URL } from '../config.js';

  export default {
    name: "TodoItem",
    props: ["todo"],
    methods: {
      markComplete() {
        this.todo.completed = !this.todo.completed;

        axios.put(BASE_URL + `/todos/${this.todo.id}`, this.todo)
          .then(response => console.log(response))
          .catch(err => console.log(err));
      }
    }
  }
</script>

<style scoped>

</style>